@page
@using idpMultiTenant1.Areas.Identity.Pages.Account.Logout
@model LoggedOut

<div class="page">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h2>Logged Out</h2>
                </div>
                <div class="card-body">
                    You are now logged out. <br/>
                    Please close your browser tab or window to complete the logout process.

                    @if (Model.View.PostLogoutRedirectUri != null)
                    {
                        <div>
                            Click <a class="PostLogoutRedirectUri" href="@Model.View.PostLogoutRedirectUri">here</a> to return to the
                            <span>@Model.View.ClientName</span> application.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (Model.View.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.View.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.View.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}