@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="page">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <img src="~/images/key.svg" style="width:50px;height:50px;"/>
                    <h2>Forgot your password?</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="Input.Email">Email</label>
                            <input class="form-control" placeholder="Enter your email" asp-for="Input.Email" autofocus>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
